.signup-bg {
  background: radial-gradient(
      circle at center,
      #1C76FE30 15%,
      transparent 22%
    ),
    #F9FBFF;
  background-size: 50px 50px;
  background-repeat: round;
}

.signUpForm {
  background-color: #ffffff;
  box-shadow: 0 0 4px 0px #d3d3d3d3;
  border-radius: 16px;
  
}


.input-style2 {
  background-color: #ffffff5e;
  backdrop-filter: blur(10px);
  padding: 8px 8px;
  color: #1692ff;
  font-weight: bold;
  border-radius: 20px;
  border: 2px solid #1692ff;
  box-shadow: rgba(255, 254, 254, 0.7) 0px -23px 25px 0px inset,
    rgba(255, 255, 255, 0.7) 0px -36px 30px 0px inset,
    rgba(255, 255, 255, 0.5) 0px 79px 40px 0px inset,
    rgba(255, 255, 255, 0.06) 0px 2px 1px, rgba(255, 255, 255, 0.09) 0px 4px 2px,
    rgba(255, 255, 255, 0.09) 0px 8px 4px;
    margin-top: 30px;
    width:200px;
}
.input-style-placeholder {
  position: absolute;
  top: 4px;
  left: 16px;
  padding: 7px 0px 2px 0px;
  transition: all 200ms;
  color: #455A64;
  font-weight: 500;
  letter-spacing: 0.1em;
  z-index: 1;
  font-size: 12px;
}
.input-style2:focus + .input-style-placeholder,
.input-style2:valid + .input-style-placeholder {
  transform: translate3d(-5px, -120%, 0);
  color: #1692ff;
  font-size: 15px;
}

.signUpBtn{
  cursor: "pointer";
  background-color: #1692ff;
  color: white;
  width: 230px;

  border-radius: 20px;
  font-size: 15px;
  padding: 8px;
  margin-top: 15px;
}

/* .login-rt-png {
  animation: move 8s infinite;
}



@keyframes move {
  0% {
    margin-top: 64px;
  }
  50% {
    margin-top: -64px;
  }
  100% {
    margin-top: 64px;
  }
} */
pin-input > .form-control {
  margin: 0 20px;
  height: 45px;
  width: 10px;
  text-align: center;
  font-size: 1.2rem;
  background: rgb(242, 242, 242);
  border: 0px solid #fff;
  border-bottom: 2px solid gray;
}
@media only screen and (max-width: 992px){
  .right-column{
    display: none;
  }
}