.navHeader {
  background-color:#FFFFFF6E;
  /* position: sticky; */
  top: 0;
}
.signInBtn {
  color: #1B76FF;
  background-color: white;
  border-radius: 24px;
  outline: 0px solid #1B76FF;
  padding: 4px;
  font-size:12px;
  margin-right:80px;
  min-width: 120px;
  
}
.signInBtn:hover {
  background-color: #196be6b8;
  border-radius: 20px;
  outline:1px solid #1A76FF;
  color: white;
}
 .navLinks {
  border-bottom: 2px solid #E8F0FF;
}

.navLinks:hover {
  border-bottom: 2px solid #1A76FF;
} 


@media only screen and (max-width: 768px) {
  .indexView {
    width: 100%;
  }
}
@media only screen and (min-width: 767px){
  .column1-margin{
    margin-left: 30%;
  }
}
@media only screen and (min-width: 767px){
  .column2-margin{
    margin-right: 3%;
  }
}

.Ibtn{
  width: 150px;
  margin:5px ;
  border-radius: 20px;
  margin-top: 40px;
  font-size: 14px;
padding: 8px;
font-weight: bold;
}


 .parent {
  position: relative;
}

.back {
  position: absolute;
  width: 500px;
  height: 400px;
  z-index: 100;
  background: rgb(255, 0, 170);
  margin-top: 50px;

}

.front { 
  
  position: absolute;
  z-index: 110;
  background: blue;
  height: 400px;
  width: 400px;
}  


.vLine {
  position: relative;
}

.vLine1 {
  position: absolute;
  width: 500px;
  height: 2px;
  z-index: 100;
  background: #8989A2;
  margin-top:10px ;

}

.vBox {
  position: absolute;
  width: 100px;
  height: 30px;
  z-index: 110;
  background:#FFFFFF;
  font-size:15px ;
  font-weight: bold;
  color: #8989A2;

}



.Sinput{
  width: 80%;
   margin-top: 30px;
  margin-left: 40px;
  
}




