.navHeader {
  background-color:#FFFFFF6E;
  /* position: sticky; */
  top: 0;
  height: 20%;
}
.signInBtn {
  color: #1B76FF;
  background-color: white;
  border-radius: 24px;
  outline: 0px solid #1B76FF;
  padding: 4px;
  font-size:12px;
  margin-right:80px;
  min-width: 120px;
  
}
.signInBtn:hover {
  background-color: #196be6b8;
  border-radius: 20px;
  outline:1px solid #1A76FF;
  color: white;
}
 .navLinks {
  border-bottom: 2px solid #FFFFFF;
}

.navLinks:hover {
  border-bottom: 2px solid #1A76FF;
} 
.indexView{
  position:absolute;
  margin-top: 30px;
}


@media only screen and (max-width: 850px) {
  .indexView {
    margin-top:-50px;
    display: flex;
     justify-content: center;
  }
}
@media only screen and (min-width: 767px){
  .column1-margin{
    margin-left: 30%;
  }
}


.Ibtn{
  width: 150px;
  margin:5px ;
  border-radius: 20px;
  margin-top: 40px;
  font-size: 14px;
padding: 8px;
font-weight: bold;
}


 .parent {
  position: relative;
}

.back {
  position: absolute;
  width: 480px;
  height: 528px;
  z-index: 100;
  background: #f9f0ff;
  margin-top: 50px;

}

.front { 
  
  position: absolute;
  z-index: 110;
  background: #fff;
  width: 416px;
  height: 528px;
  box-shadow: 0px 10px 20px #74747429;
  border: 1px solid #F9F0FF;
  border-radius: 4px;
  opacity: 1;
}  


.vLine {
  position: relative;
}

.vLine1 {
  position: absolute;
  width: 500px;
  height: 2px;
  z-index: 100;
  background: #8989A2;
  margin-top:10px ;

}

.vBox {
  position: absolute;
  width: 100px;
  height: 30px;
  z-index: 110;
  background:#FFFFFF;
  font-size:15px ;
  font-weight: bold;
  color: #8989A2;

}



.Sinput{
  width: 80%;
   margin-top: 30px;
  margin-left: 40px;
  
}

.buttonCss{
  width: 344px;
  height: 48px;
  
}


/* html,body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, Sans-serif;
  background-color: #070617;
} */
.dummy_page {
  height: 200px;
  width: 100%;
  background-color: #f0f0f0;
  text-align: center;
  /* box-sizing: border-box; */
  padding: 60px 0px;
}
/* STYLES SPECIFIC TO FOOTER  */
.footer {
  padding-top: 80px;
  padding-bottom: 80px;

  width: 100%;
  position: relative;
  height: auto;
  background:transparent linear-gradient(178deg, #FBFCFF 0%, #8CB3FF 100%) 0% 0% no-repeat padding-box;;
  border: none;
}
.footer .col {
  
  width: 190px;
  height: auto;
  float: left;
  /* box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px; */
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: #160637;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: #160637;
  font-size: 12px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  color: #160637;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}
.clearfix {
  clear: both;
}
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
    .footer .col {
      width: 50%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}

.form-search{
  /* margin: 0 auto; */
  /* text-align: center; */

  font: bold 13px sans-serif;
   /* max-width: 70%; */
  position: relative;
}

.form-search input{
  width: 100%;
  box-sizing: border-box;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  background-color:  #ffffff;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 14px 15px 14px 40px;
  border: 1px solid #b6c3cd;;
  border-right: 0;
  color:#4E565C;
  outline: none;
  -webkit-appearance: none;
}

.form-search button{
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  background-color:  #6caee0;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  color: #ffffff;
  padding: 5px 5px;
  margin-left: -60px;
  cursor: pointer;
  border: none;
  outline: none;
}

.form-search i{
  position: absolute;
  top: 10px;
  left: 5px;
  font-size: 5px;
  color: #80A3BD;
}


.s2table{
  border-collapse:collapse;
  outline:"none";
  width: 60%;
}
@media only screen and (min-width: 767px){
  .margin-top-70{
    margin-top: 70px;
  }
}
@media only screen and (max-width: 767.5px){
  .column2-margin{
    display: none;
  }
}
.parent{
  margin-top: "70px" 

}
@media only screen and (max-width: 767.5px){
  .parent{
    display: none;
  }
}