// Here you can add other styles
$light2Primary: #e7f8ff !default;
$lightPrimary: #a3e6ff !default;
$primary-bg: #f5f7fb !default;
$theme-color: #1692ff !default;
$table-color: #e6fdfffb !default;
$theme_blue: #0179B6  !default;
$purple: #8C34EA !default;