// If you want to override variables do it here
@import "variables";

// $font-family-sans-serif: "Lato", system-ui, -apple-system, "Segoe UI", Roboto,
//   "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
//   "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$enable-ltr: true;
$enable-rtl: true;

// Import CoreUI for React components library
@import "@coreui/coreui/scss/coreui";

// Import Chart.js custom tooltips styles
@import "@coreui/chartjs/scss/coreui-chartjs";

@import "layout";
@import "example";

// If you want to add custom CSS you can put it here.
@import "custom";

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(202, 202, 202);
  box-shadow: inset 0 0 6px rgb(202, 202, 202);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #cb6796;
  box-shadow: inset 0 0 6px #cb6796;
}

.vh {
  float: left;
  width: 20px;
  height: 100px;
  background-color: $primary-base;
}

.dashboard-stats {
  margin-left: 16px;
  padding: 16px;
  background-color: $primary-bg;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: #bbb;
  border-radius: 25%;
  display: inline-block;
}
.nav-content {
  overflow-x: hidden;
}
.round-corner {
  font-size: 10px;
  padding: 12px 4px 12px 4px;
  background-color: #bbb;
  border-radius: 8%;
  display: inline-block;
  text-align: center;
}

.modal_wid {
  flex: 1;
  justify-content: "center";
  align-items: "center";
  background-color: "rgba(0,0,0,0.5)";
  // border-color: $primary-bg;
  // border-width: 20px;
  // border: solid;
  //fill-opacity: 0;
  // opacity: 0.1 !important;
  //background-color: rgba(0,0,0,0.75);
  // opacity: -1;
  // background-color: red;
}
.modalInner {
  height: 200;
  padding: 35;
  justify-content: "space-around";
  align-items: "center";
  background-color: red;
}
@font-face {
  font-family: "Lato";
  src: local("Lato"), url(../fonts/Lato-Regular.ttf) format("opentype");
}

@font-face {
  font-family: "Lato";
  font-weight: 900;
  src: local("Lato"), url(../fonts/Lato-Bold.ttf) format("opentype");
}

@font-face {
  font-family: "Lato";
  font-weight: 900;
  src: local("Lato"), url(../fonts/Lato-Black.ttf) format("opentype");
}

body {
  font-family: Lato;
  overflow-x: hidden;
}

.lato {
  font-family: Lato;
  font: 500;
}

// .menu_style {
//   margin-right: 40px;
//   margin-left: 40px;
//   margin-top: 5px;
//   margin-bottom: 25px;
//   width: 59px;
//   height: 19px;
//   text-align: left;
//   font: normal normal bold 14px/17px Lato;
//   font-size: 14px;
//   letter-spacing: 3.52px;
//   color: #262626;
//   opacity: 1;
// }

.cm_active {
  border-left-color: 4px solid #cb6796;
}

.input-inside {
  border-left: 0px;
  border-color: rgb(168, 168, 168);
  border-style: solid;
}

.input-inside:hover {
  border-left: 0px;
  border-color: rgb(168, 168, 168);
  border-style: solid;
}

.check_btn {
  display: block;
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px;
  border-bottom-color: #cb6796;
  color: #cb6796;
  background-color: #ffffff;
}

.my_btn {
  display: block;
  border-style: solid;
  border-color: transparent;
  border-width: 0px;
  border-bottom-color: transparent;
  border-bottom-width: 2px;
  background-color: #cb6796;
}

.my_btn:hover {
  display: block;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0px;
  border-bottom-color: #ffffff;
  border-bottom-width: 2px;
  background-color: #cb6796;
}

.my_btn_unchecked {
  display: block;
  border-style: solid;
  border-color: transparent;
  border-width: 0px;
  border-bottom-color: transparent;
  border-bottom-width: 3px;
}

.my_btn_checked {
  display: block;
  border-style: solid;
  border-color: #cb6796;
  border-width: 0px;
  border-bottom-color: #cb6796;
  border-bottom-width: 3px;
}

.my_btn_2 {
  display: block;
  border-style: solid;
  border-color: transparent;
  border-width: 0px;
  border-bottom-color: transparent;
  border-bottom-width: 2px;
  background-color: transparent;
}

.my_btn_2 :hover {
  display: block;
  border-style: solid;
  padding: 4px;
  border-color: transparent;
  border-width: 0px;
  border-bottom-color: #ec7fb2;
  border-bottom-width: 2px;
  background-color: transparent;
  width: 32px;
  height: 32px;
}

.my_btn_unchecked :focus {
  outline: none;
  box-shadow: none;
}

.my_btn_checked :focus {
  outline: none;
  box-shadow: none;
}

// .my_btn_unchecked :hover {
//   display: block;
//   border-style: solid;
//   border-color: #4093f7;
//   border-width: 0px;
//   border-bottom-color: #4093f7;
//   border-bottom-width: 3px;
// }

// .my_btn_checked :hover {
//   display: block;
//   border-style: solid;
//   border-color: #4093f7;
//   border-width: 0px;
//   border-bottom-color: #4093f7;
//   border-bottom-width: 3px;
// }

.side_item {
  display: block;
  border-style: solid;
  border-color: transparent;
  border-width: 0px;
  border-bottom-color: transparent;
  border-bottom-width: 2px;
  background-color: transparent;
}

.side_item :hover {
  display: block;
  border-style: solid;
  background: #f996c4;
  padding: 8px;
  border-color: transparent;
  border-width: 0px;
  border-left-color: #cb6796;
  border-left-width: 2px;
}

#menu ul {
  list-style: none;
}

#menu li {
  padding: 10px;
}

#menu li:hover {
  opacity: 0.7;
  background-color: #fa9fc9;
}
.sideNav-logo-bg {
  background-color: #cb6796;
  backdrop-filter: blur(40px);
  border-radius: 16px;
}
@media only screen and(max-width: 767.98px) {
  .sidebar {
    height: 80vh !important;
  }
}
@media screen and (max-width: 1000px) {
  .hidden_md {
    display: none;
  }
}

.daysbtnCard-bg {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 6px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  // box-shadow: rgba(50, 50, 93, 0.25) 0px 3px 5px -2px,
  // rgba(0, 0, 0, 0.3) 0px 3px 5px -3px;
}
.borderBottom-blue {
  border-color: #fa9fc9;
  color: #cb6796;
  background-image: linear-gradient(45deg, #e9d022 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: background 500ms ease-in-out;
  border-bottom: 2px solid #cb6796;
  border-radius: 4px;
  padding: 16px;
}

.borderBottom-blue-hover:hover {
  background-position: 0;
  color: #fff;
  // border-bottom: 2px solid #1692ff;
}

.inactiveDefault-border {
  border-color: #a2caec;
  color: #000;
  background-image: linear-gradient(45deg, #cb6796 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: background 500ms ease-in-out;
  border-radius: 4px;
  padding: 16px;
}
.inactiveDefault-border:hover {
  background-position: 0;
  color: #fff;
}
.transaction-style {
  color: #cb6796;
  letter-spacing: 1px;
}
.status-card-bg {
  background-image: linear-gradient(120deg, #cb6796, #e3bcce);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 6px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.transparent-card {
  background: rgba(255, 255, 255, 0.22);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.3px);
  -webkit-backdrop-filter: blur(2.3px);
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 8px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 30px;
  // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.transparent-card:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  transition: all 0.4s ease-out;
}
.sidebar-apex {
  font-weight: 600;
}

.common-card {
  border: 2px solid black;
  box-shadow: 0px 0px 10px 2px #d3d3d3; /*#4093f7;*/
  border-radius: 8px;
  // text-decoration: underline wavy #8000ff;
}

.inputCss {
  border-radius: 20px;
}

.bordernew {
  border: 2px solid rgb(138, 137, 137);
}

.text_css {
  text-size-adjust: 4px;
}

.button_css {
  border-radius: 20px;
  background-color: #cb6796;
  text-decoration-color: #000;
  text-align: center;
  text-decoration-color: #fff;
  margin-bottom: 20px;
  color: white;
}
.commonCard {
  box-shadow: rgba(0, 0, 0, 0.1) 3px 8px 8px -3px,
    rgba(0, 0, 0, 0.05) 5px 6px 7px -2px;
  border: none;
  background-color: #fff;
  border-radius: 8px;
}
.btns {
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}

.btns:hover {
  border-bottom: 2px solid #97466c;
}
.Dthform {
  border: 2px solid rgb(116, 115, 115);
  border-radius: 25px;
}
.parent-div {
  height: 60px;
  width: 60px;
  border-radius: 50px;
  box-shadow: 0 0 5px 1px #d3d3d3;
  padding: 15px;
  background-color: #fff;
  border-bottom: 2px solid transparent;
}

.parent-div-active {
  background-color: #cb6796;
}
.btn-container:hover > .parent-div-hover {
  background-color: #cb6796;
  cursor: pointer;
  transition: all 0.51s ease;
  font-weight: bolder;
}
.btn-container {
  cursor: pointer;
  border-bottom: 2px solid transparent;
}
.btn-container:hover {
  cursor: pointer;
  border-bottom: 2px solid #cb6796;
  transition: all 0.51s ease;
}

.DetailCard {
  outline: 2px solid #cb6796;
}

.progressData {
  top: 487px;
  left: 1471px;
  width: 80px;
  height: 80px;
  background: #cb6796 0% 0% no-repeat padding-box;
  opacity: 1;
  // border-radius: 100%;
}

.progress {
  top: 487px;
  left: 1452px;
  width: 80px;
  height: 80px;
  background: #dcebf5 0% 0% no-repeat padding-box;
  opacity: 1;
  border-radius: 50%;
}

.cm-scroll {
  overflow: scroll;
  scroll-behavior: smooth;
}

.cm-scroll::-webkit-scrollbar {
  height: 0;
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
.cm-scroll::-webkit-scrollbar-thumb {
  background: #ff0000;
}

.cm-circle {
  width: 100%;
  height: 100%;
  background: transparent
    linear-gradient(328deg, #ffffff 0%, #2d62ed 37%, #7b92cf 80%, #7d93ce 100%)
    0% 0% no-repeat padding-box;
  border-radius: 50%;
  border-width: 1px;
  opacity: 1;
}
.buttonCss {
  background-color: #cb6796;
  color: white;
  margin: 10px;
  border-radius: 16px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 35px;
}
.formbtnCss {
  background-color: #cb6796;
  color: white;
  border-radius: 8px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 20px;
}
.formbtnCss:hover {
  background-color: #fff;
  outline: 1px solid #cb6796;
  color: #cb6796;
  transition: all 200ms ease-in-out;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

//radio btn css in aeps page
.input:checked {
  background-color: #cb6796;
}

.pin-input > .form-control {
  margin: 0 20px;
  height: 45px;
  width: 10px;
  text-align: center;
  font-size: 1.2rem;
  background: rgb(242, 242, 242);
  border: 0px solid #fff;
  border-bottom: 2px solid gray;
}
.showModal {
  opacity: 1;
}

.contactCard {
  text-align: center;
  padding: 25px;
  width: 300px;
  height: 300px;
}
.contactCard:hover {
  color: #fff;
  background-color: #cb6796;
  transition: background 0.8s ease-in-out;
  border-radius: 20px;
}
.offerCard {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border: 4px solid #831e4d;
  padding: 50px;
  border-radius: 20px;
}

.offerCard:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

  transition: all 0.6s ease-in;
}
.underline {
  padding: 15px;
  border-bottom: 4px solid #831e4d;
}
.footerLinks {
  cursor: pointer;
  font-size: 18px;
}
